version: '2'
services:
  webUbuntu1804:
    image: orangehrm/orangehrm-environment-images:prod-5.6-centos
    ports:
      - "8804:443"
    volumes:
      - ./html:/var/www/html
      - ./config/mysql-client:/etc/mysql
      - ./config/apache2/sites-available:/etc/apache2/sites-available
      - ./config/apache2/cert:/etc/apache2/cert
      - ./logs/ubuntu_logs:/var/log/apache2
      - /etc/localtime:/etc/localtime
    privileged: true
    links:
      - db
    restart: always
    hostname: orangehrm-prod-web-56
    container_name: prod_web_56

  db:
    image: orangehrm/orangehrm-db-images:mariadb-10.2
    expose:
      - "3306"
    volumes:
      - ./logs/mysql_logs:/var/log
      - /etc/localtime:/etc/localtime
    environment:
      MYSQL_ROOT_PASSWORD: 1234
    restart: always
    hostname: orangehrm-prod-db
    container_name: prod_mysql

  phpmyadmin:
    image: phpmyadmin/phpmyadmin
    volumes:
      - /etc/localtime:/etc/localtime
    links:
      - db
    ports:
      - "9090:80"
    environment:
      PMA_HOST: db
    restart: always
    container_name: prod_phpmyadmin
